{% extends "base.html" %}

{% block title %}
Forgot password
{% endblock %}

{% block styles %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/auth.css') }}"
>
{% endblock %}

{% block main_class %}
z-auth-main
{% endblock %}

{% block content %}

<div class="z-auth-page">

    <div class="z-auth-container">

        <div class="z-page-heading">

            <h1 class="z-page-heading-title">
                Forgot your password?
            </h1>

        </div>

        <form
            class="z-auth-form"
            method="POST"
            action="{{ url_for('auth.forgot_password_submit') }}"
        >

            <p class="z-auth-description">
                Enter your email address and we'll send you a
                6-digit code to reset your password.
            </p>


            {% if error %}

                <div class="z-auth-error">
                    {{ error }}
                </div>

            {% endif %}


            <div class="z-auth-form-group">

                <label
                    class="z-auth-label"
                    for="email"
                >
                    Email address
                </label>

                <input
                    class="z-auth-input"
                    type="email"
                    id="email"
                    name="email"
                    autocomplete="email"
                    required
                    placeholder="Enter your email address"
                    value="{{ email|default('') }}"
                    autofocus
                >

            </div>


            <button
                class="z-auth-button"
                type="submit"
            >
                Send verification code
            </button>

        </form>


        <div class="z-auth-footer">

            <a
                href="{{ url_for('auth.login') }}"
            >
                Back to login
            </a>

        </div>

    </div>

</div>

{% endblock %}


{% block footer %}
{% endblock %}