<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>Print Cheque • Zoothy</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/cheque.css') }}"
    >
    <script src="{{ url_for('static', filename='js/print-service.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cheque-print.js') }}"></script>

</head>

<body>

<div class="cheque">

    <div
        class="field"
        style="
            top:{{ layout.DATE.top }}mm;
            left:{{ layout.DATE.left }}mm;
        "
    >
        {{ cheque.formatted_date }}
    </div>

    <div
        class="field"
        style="
            top:{{ layout.PAY_TO.top }}mm;
            left:{{ layout.PAY_TO.left }}mm;
        "
    >
        ** {{ cheque.pay_to }} **
    </div>

    <div
        class="field amount"
        style="
            top:{{ layout.AMOUNT.top }}mm;
            left:{{ layout.AMOUNT.left }}mm;
        "
    >
        {{ "%.2f"|format(cheque.amount) }}/-
    </div>

    <div
        class="field"
        id="amountWords"
        style="
            top:{{ layout.AMOUNT_WORDS.top }}mm;
            left:{{ layout.AMOUNT_WORDS.left }}mm;
        "
    >
        **{{ cheque.amount_in_words }}**
    </div>

    {% if cheque.ac_payee_only %}

    <div
        class="field ac-payee-box"
        style="
            top:{{ layout.AC_PAYEE_ONLY.top }}mm;
            left:{{ layout.AC_PAYEE_ONLY.left }}mm;
        "
    >
        <div class="line"></div>
        A/C PAYEE ONLY
        <div class="line"></div>
    </div>

    {% endif %}

</div>

</body>

</html>